* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #ffffff;
  color: #111;
  overflow-x: hidden;
}

.rightlogo{
  float: left;
}
.rightlogo img{
  height: 60px;
  width: 60px;
}

.top-navBar{
  background-color: rgb(254, 253, 253);
  display: flex;                 
  justify-content: center;       
  align-items: center;          
  overflow: hidden;
  padding: 10px 0; 
}
.top-navBar a{
  float: left;
  color: rgb(128, 25, 232);
  display: flex;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}
.top-navBar a:hover{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.top-navBar a :active{
  background-color:  rgb(70, 68, 68);
  color: rgb(251, 251, 251);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 5%;
  background: #c2c2f0;
  width: 100%;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  padding-left: 60px;
}

.highlight {
  color: #5d4fcc;
}

.hero-content p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 2rem;
  padding-left: 60px;
}

.hero-image img {
  padding-right: 100px;
  width: 400px;
  border-radius: 20px;
}
.contactButton{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: xx-large;
  font-weight: bold;
  background-color: #4f3af1;
  border-radius: 0.5rem;
  border-color:#4f3af1 ;

}
.contactButton  :hover{
  color: #5d4fcc;

}

.title {
 background: #c2c2f0;

}
.title h1{
  color: #2404a5;
  font-size: 60px;
  align-items: center;
  padding-left: 30%;
}
.title p{
  padding-left: 40px;
}

.footer {
  text-align: center;
}
.footer p{
  background-color: #111;
  color: #c2c2f0;
}